In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from tqdm.notebook import tqdm

In [2]:
articles = pd.read_csv("/Users/sidgraph/Desktop/LLM_KG_RecSys/graph_rec/data/filtered_articles.csv")
customers = pd.read_csv("/Users/sidgraph/Desktop/LLM_KG_RecSys/graph_rec/data/filtered_customers.csv")
transactions = pd.read_csv("/Users/sidgraph/Desktop/LLM_KG_RecSys/graph_rec/data/filtered_transactions_train.csv")

In [3]:
articles.head()

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
3,111565001,111565,20 den 1p Stockings,304,Underwear Tights,Socks & Tights,1010016,Solid,9,Black,...,Tights basic,B,Lingeries/Tights,1,Ladieswear,62,"Womens Nightwear, Socks & Tigh",1021,Socks and Tights,"Semi shiny nylon stockings with a wide, reinfo..."
4,111586001,111586,Shape Up 30 den 1p Tights,273,Leggings/Tights,Garment Lower body,1010016,Solid,9,Black,...,Tights basic,B,Lingeries/Tights,1,Ladieswear,62,"Womens Nightwear, Socks & Tigh",1021,Socks and Tights,Tights with built-in support to lift the botto...

In [4]:
customers.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,000383021a8cf9a542b9c855b42f99aa76374873661e83...,NaN,NaN,ACTIVE,NONE,30.0,110c914bcac2c21cff810ea4be5bb91580ce3c8ffa431e...
1,007fc3638a2b9362c21bd53744fb08168939012636db52...,1.0,1.0,ACTIVE,Regularly,21.0,44148e1f5f23d3dd6a8155334450d406ad0f18e3aeb886...
2,012cc72686e288fc6a1ce03361c5e2cedaf1b38a4a9294...,1.0,1.0,ACTIVE,Regularly,26.0,2c29ae653a9282cce4151bd87643c907644e09541abc28...
3,01837c5643f9afc91cde10997749a9df75275b4d0ca965...,1.0,1.0,ACTIVE,Regularly,29.0,836fa900d23ee3d989a5750707e41f91828586902b9138...
4,01e2cc6a88561c7765fdef3c0fae547791d6db3d737824...,1.0,1.0,ACTIVE,Regularly,49.0,f354e0e524d94df176d7c05f3e6c8f199ba79be881461a...

In [5]:
transactions.head()

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,0e4d986c7b54788b33e9f5959f240bc86d5a9bf4bf087d...,448509017,0.042356,2
1,2018-09-20,0e4d986c7b54788b33e9f5959f240bc86d5a9bf4bf087d...,448509017,0.042356,2
2,2018-09-20,61011e3b42e62b2359551663487abad28a7b1113c41d87...,564786001,0.022017,2
3,2018-09-20,61011e3b42e62b2359551663487abad28a7b1113c41d87...,634009004,0.025407,2
4,2018-09-20,61011e3b42e62b2359551663487abad28a7b1113c41d87...,708021001,0.016932,2